<section>
  <vg-player>
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
  
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
      <vg-play-pause vgFor="singleVideo"></vg-play-pause>
      <vg-quality-selector [bitrates]="bitrates" (onBitrateChange)="vgHls.setBitrate($event)"></vg-quality-selector>
  
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
  
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
  
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>
  
    <video #vgHls="vgHls" [vgHls]="url" (onGetBitrates)="bitrates" id="my-video" #media [vgMedia]="$any(media)"
      [vgHls]="url" id="singleVideo">
    </video>
  </vg-player>
</section>